@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* font-size: 1.2em; */
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-right: 30px;
  border-radius: 15%;
  transition: background-color 0.3s;
}

.github {
  background-color: #27272a;
  border-radius: 15%;
  cursor: pointer;
  color: white;
  border: 2px solid transparent;
  transition: border 0.1s;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 8px;
  border-radius: 0.5em;
  transition-duration: 150ms;
  float: right;
  display: block;
}

.github svg {
  display: block;
}

.navbar .github:hover {
  border: 2px solid white;
}

@media screen and (max-width: 640px) {
  .nav {
    display: none;
  }
}
