.profile {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile p {
  color: rgba(255, 255, 255, 0.569);
}

.image {
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .image {
    display: none;
  }
}
